.container {
    
}

.container ul {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    border-top: 1px solid grey;
}

.container li {
    border-bottom: 1px solid grey;
    padding: 0.3em 0em 0.3em 1em;
}

