.prof {
    margin: 1em;
}

.head {
    margin-top: 3.5em;
    display: flex;
}

.head img {
    max-width: 100px;
    border-radius: 100px;
}

.head h2 {
    margin: 0 1em;
}

.head button {
    margin: 0 1em;
}

.intro {
    margin-top: 1em;
}

p {
    margin: 0;
}

.attributes {
    border-top: 2px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}

.attributes div {
    width: 33%;
}

.attributes p {
    text-align: center;
}

.weak {
    color: grey;
}

/* this will change the cursor to indicate its clickability*/
button{
  cursor:pointer;
}

.temp {
    margin: 3em 3em 3em 3em;
}